Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
onnx
onnxruntime
mlx
tqdm
requests
soundfile
soxr
torch
safetensors
pillow
transformers
mlx-lm
flask
flask_cors
bs4
orjson
lxml
jwt
unidecode
pyopenjtalk
torchaudio
einops
pytorch_lightning
coreai-torch
coremltools