Cython
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
onnx
onnxruntime
epub2txt
mlx
datasets
tqdm
requests
soundfile
opencv-python
uvicorn
torch
safetensors
tokenizers
pillow
typer
rich
transformers
mlx-lm
flask
flask_cors
bs4
jwt
Caldav
pytz
unidecode
pyopenjtalk